// **
// Topbar menu
// **
nav {
  .main-menu{
    background-color: $theme-secondary-color;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: $navigation-height;
  }

  li{
    float: left;
    display: inline;
  }

  a {
    color: $white;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;

    &:hover {
      background-color: $light_blue;
      text-decoration: none;
    }

    &.active-trail, &.active {
      color: $white;
      background-color: $light_blue;
    }
  }
}

.secondary-content {
  .block-menu-block {
    padding:  18px 15px 15px 8px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      a {
        display: inline-block;
        text-decoration: none;
        padding: 7px 15px;
        color: #333;

        &:hover {
          color: $font-color-link-primary;
        }

        &.active-trail, &.active {
          color: $font-color-link-primary;
          font-weight: bold;
        }
      }
    }
  }
}
