body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: $theme-font-size;
  background-color: $theme-primary-color;
  color: $font-color-primary;
  line-height: $theme-line-height;
}

body.toolbar {
  padding-top: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

header {
  .image {
    background: #FFF url("../images/header.jpg") no-repeat top center;
    min-height: 220px;
    background-size: 960px 220px;
  }
}

a {
  color: $font-color-link-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content-wrapper {

  .breadcrumb {
    @include rem('font-size', 14px);
    padding: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid $grey;
  }

  overflow: auto;

  .content-inner {
    position: relative;
  }

  .primary-content {
    min-height: 425px;
    padding: 25px;

    .title {
      padding-bottom: 5px;
      border-bottom: 1px solid #CCC;
      margin: 0 0 16px;
      line-height: 17pt;
    }

    h1 {
      font-size: 26px;
      font-weight: bold;
    }

    h2 {
      font-size: 11pt;
      font-weight: bold;

      margin: 16px 0 8px;
    }

    h3, h4, h5 {
      font-weight: bold;

      margin-top: 10px;
    }

    p {
      margin-bottom: 8px;
    }

    td {
      vertical-align: top;
    }
  }

  .secondary-content {
    background-color: $theme-teritary-color;

    // Fix height for desktop.
    @include medium-large() {
      position: absolute;
      top: $navigation-height;
      bottom: $footer-height;
    }

    .block-menu-block {
      padding:  18px 15px 15px 8px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;

        a {
          text-decoration: none;
          padding: 7px 15px;
          color: #333;
        }
      }
    }
  }
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

footer {
  min-height: $footer-height;
  background-color: $theme-secondary-color;

  .footer-content {
    color: $white;
    margin: 20px;
  }
}
