// =============================================================================
// This file holds all the variables for the DDBasic theme
// =============================================================================
//

// -----------------------------------------------------------------------------
// Standard color definitions
// -----------------------------------------------------------------------------
//
$white:                 #fff    !default;
$black:                 #000    !default;
$grey:                  #BBB    !default;
$light_blue:            #1E7B92 !default;

// -----------------------------------------------------------------------------
// Other
// -----------------------------------------------------------------------------
//
$navigation-height: 32px;
$footer-height: 58px;

// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #FFF;
$theme-secondary-color:           #17425A;
$theme-teritary-color:            #F5F5F5;

// -----------------------------------------------------------------------------
// Font library
// -----------------------------------------------------------------------------
//
$theme-icon-library-font:         FontAwesome;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-color-primary:      $theme-secondary-color;
$font-color-link-primary: #62A140;

// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 12px;
$theme-line-height:               16px;
$theme-font-weight-normal:        normal;
$theme-font-weight-bold:          normal;

// -----------------------------------------------------------------------------
// Base font size for rem() mixin, measured in pixels
// -----------------------------------------------------------------------------
//
$base-font-size:  16px;
