body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: $theme-font-size;
  background-color: $theme-primary-color;
  color: $font-color-primary;
  line-height: $theme-line-height;
}

body.toolbar {
  padding-top: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

header {
  .image {
    background: #FFF url("../images/header.jpg") no-repeat top center;
    min-height: 220px;
    background-size: 960px 220px;
  }
}

a {
  color: $font-color-link-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content-wrapper {
  .breadcrumb {
    @include rem('font-size', 14px);
    padding: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid $grey;
  }

  .primary-content {
    h1 {
      @include rem('font-size', 18px);
      font-weight: bold;
      margin-top: 16px;
    }

    h2 {
      @include rem('font-size', 16px);
      font-weight: bold;
      margin-top: 14px;
    }

    h3, h4, h5 {
      @include rem('font-size', 14px);
      font-weight: bold;
      margin-top: 12px;
    }

    p {
      margin-bottom: 8px;
    }
  }

  .menu .expanded .menu {
    margin-left: 8px;
  }
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

footer {
  @include rem('font-size', 12px);
  text-align: center;
  background: none repeat scroll 0 0 $theme-teritary-color;
  padding: 4px;
  z-index: 2;
  margin-top: 18px;
}
